<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPageCtrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F8D92C11D992DF800DA46D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F8D92D51D992DF900DA46D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F8D92E01D992DF900DA46D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
